.Login {
    width: fit-content;
    float: right;
    height: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

label {
    padding: 16px;
    color: white;

}

#welcomeMessage {
    position: absolute;
    color: lightgrey;
    font-size: 30px;
    margin-left: 5%;
}

#submit {
    width: 50px;
    margin-left: 10px;
}

#username, #password {
    color: black;
    margin-left: 5px;
}

input#login-username, input#login-password{
    width: 20%;
    padding: 5px;
    margin: 5px 5px 22px 5px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
    background-color: #ddd;
    outline: none;
}

button#logout {
    width: fit-content;
    float: right;
    margin-right: 10px;
    height: 100%;
    margin-bottom: 30px;
}

#registered {
    width: 100%;
    height: 100%;
    height: fit-content;
    padding: 3px 0 0 3px;
}

