.EventFilter {
    width: 100%;
    height: fit-content;;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    margin-top: 30px;
}

.EventFilterForm {
    width: 100%;
}

#container {
    width: 99%;
    height: fit-content;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    border: 1px solid darkgrey;
    background-color: white;

}

#eventFilterTitle {
    margin-top: -20px;
    font-size: 50px;
    color: black;
}
